<Patient>
    <id value="{{ patient_uuid }}" />
    <meta>
      <profile value="https://fhir.hl7.org.uk/STU3/StructureDefinition/CareConnect-Patient-1" />
    </meta>
    <identifier>
      <extension url="https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-CareConnect-NHSNumberVerificationStatus-1">
        <valueCodeableConcept>
          <coding>
            <system value="https://fhir.hl7.org.uk/STU3/CodeSystem/CareConnect-NHSNumberVerificationStatus-1" />
            <code value="01" />
            <display value="Number present and verified" />
          </coding>
        </valueCodeableConcept>
      </extension>
      <system value="https://fhir.nhs.uk/Id/nhs-number" />
      <value value="{{ nhs_number }}" />
    </identifier>
    <name>
      <use value="official" />
      <family value="{{ family_name }}" />
      <given value="{{ given_name }}" />
    </name>
    <gender value="{{ gender }}" />
    <birthDate value="{{ birthdate }}" />
</Patient>
